<!--<router-outlet></router-outlet>-->
<div class="main-content">
    <div [ngGrid]="gridConfig">

        <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize(i, $event)"
            (onDrag)="onDrag(i, $event)">
            <div class="handle" style="background-color: gray; margin-bottom:0px;"><span style="font-size:30px; margin-left: 5px;"><!--Widget {{box.id}}--></span>
                <div class="box-header-btns pull-right">
                    <a title="Remove widget" (click)="removeWidget(i);">
                        <i class="pe-7s-close-circle" style="font-size:30px; margin-right:5px; margin-top:5px; "></i>
                    </a>
                </div>
            </div>
            <widget-container [type]="box.widgetType"> </widget-container>
        </div>
    </div>
</div>