/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #98a6ad;
    background: #2b333b;
}
