.topbar {
    left: 0px;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 999;
}

.navbar-default {
    background-color: #36404a;
    border-radius: 0px;
    margin-bottom: 0px;
    border-color: #e7e7e7;
}

@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.container {
    width: auto;
}

@media (min-width: 1200px)

.container {
    width: 1170px;
}

@media (min-width: 992px)

.container {
    width: 970px;
}

@media (min-width: 768px)

.container {
    width: 750px;
}

* {
    outline: none !important;
}

div {
    display: block;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button-menu-mobile {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 60px;
    padding: 0 15px;
}

.md-menu:before {
    content: "\f2a1";
}

.navbar-nav {
    margin: 0;
}

@media (min-width: 768px)
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


@media (min-width: 768px)

.navbar-nav>li {
    float: left;
}

.nav>li {
    position: relative;
    display: block;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.nav > li > a {
    color: #ffffff !important;
    line-height: 60px;
    padding: 0px 15px;
    position: relative;
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}