

<shared-header></shared-header>
<button (click)="addWidget()">Add widget</button>
<br><br>
<dashboard (onOrderChange)="logOrder($event)" (onDragStart)="log($event, 'ondragstart')"
           (onDragEnd)="log($event, 'ondragend')"
           (onDrag)="log($event, 'ondragmove')" class="dashboard" [widgetsSize]="widgetsSize"
           [margin]="dashboardMargin">

  <widget [size]="[2, 1]" widgetId="large">
    <div widgetHandle class="head handle">Large widget [2, 1] handle only on text</div>
  </widget>
 
</dashboard>
